<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1>User Full Name:- <%= product.fname %> <%= product.lname %></h1>
            <hr>
            <h2>User Phone No:: <%= product.phone %></h2>
            <p>User Description:: <%= product.description %></p>
        </main>
        <%- include('../includes/end.ejs') %>